// COLORS
$color-red-clear: #d56f6f;
$color-red: #e60e0e;
$color-red-light-1: #880606;

$color-green: #1b9103;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e4e1e1;
$color-grey-light-3: rgb(136, 132, 132);
$color-grey: #777;
$color-grey-dark: #373636;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
